@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Comfortaa";
  overflow-x: hidden;
  cursor: none;
}

header {
  padding: 40px 50px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
}
header .header-inner {
  min-height: 40px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  position: relative;
}
header .header-inner .menu-toggle {
  position: absolute;
  right: 5px;
}
header .header-inner .menu-toggle .menu-toggle-inner {
  height: 68px;
  width: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  mix-blend-mode: exclusion;
  transition: transform 0.3s ease;
}
header .header-inner .menu-toggle .menu-toggle-inner .line {
  width: 22px;
  height: 2px;
  background-color: #fff;
  margin: 4px 0;
  transition: all 0.5s;
  mix-blend-mode: exclusion;
}
header .header-inner .menu-toggle .menu-toggle-inner .line.active.top-line {
  transform: rotate(45deg);
  margin: -1px;
  transition: all 0.5s;
  background-color: black;
}
header .header-inner .menu-toggle .menu-toggle-inner .line.active.bottom-line {
  transform: rotate(-45deg);
  margin: -1px;
  transition: all 0.5s;
  background-color: black;
}
header .header-inner .slide {
  visibility: hidden;
  position: absolute;
  border-radius: 999px;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  background-color: #f4f7f6;
  z-index: -1;
  transition: all 0.5s;
  padding: 8px;
}
header .header-inner .slide.active {
  width: 100%;
  visibility: visible;
  transition: all 0.5s;
}
header h1 {
  position: absolute;
  left: 5px;
  color: white;
  font-size: 2rem;
  text-align: left;
  mix-blend-mode: exclusion;
}
header h1 span {
  font-size: 1.5rem;
}
header nav {
  display: none;
  width: 50%;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}
header nav.active {
  display: flex;
}
header nav a {
  font-weight: bold;
  text-decoration: none;
  mix-blend-mode: exclusion;
  color: white;
}
header nav a.router-link-exact-active {
  color: white;
}

.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: black;
}
.home .home-intro {
  position: relative;
  min-height: 350px;
  margin-top: -10vh;
  width: 95%;
  margin: auto;
}
.home .home-intro .title {
  position: relative;
  z-index: 10;
  color: white;
  font-weight: 700;
  font-size: 3rem;
  line-height: 140%;
  margin: 0;
}
.home .home-intro .title.title-big {
  font-size: 4rem;
  text-align: left;
}
.home .home-intro .text {
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.7rem;
  letter-spacing: -0.4px;
  margin-bottom: 30px;
  position: relative;
  z-index: 9;
  margin-top: 80px;
  color: white;
  text-align: left;
}
.home .home-intro .text a {
  color: white;
}
.home .home-intro .text-big {
  font-size: 1.2rem;
  line-height: 2rem;
}

.cursor-hover-element {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.cursor--large {
  --size: 100px;
  border: 1px solid #fff;
  mix-blend-mode: difference;
}

.cursor {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1001;
}

.cursor--small {
  --size: 6px;
  background: #fff;
  mix-blend-mode: exclusion;
}

.cursor {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1001;
}/*# sourceMappingURL=style.css.map */